[Unit]
Description=ADUM Inscription Script Scrapper

[Service]
WorkingDirectory=
EnvironmentFile=
ExecStart=
Type=oneshot

[Install]
WantedBy=multi-user.target